# -----------------------
#  Python-related files
# -----------------------
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
.env

# Virtual environment directories
venv/
.venv/

# Dotenv files (secrets)
.env

# -----------------------
#  Node-related files
# -----------------------
node_modules/
.next/
.env.local
dist/
build/

# -----------------------
#  FAISS index files
# -----------------------
*.faiss
*.npy

# -----------------------
#  macOS junk files
# -----------------------
.DS_Store

# IDE
.vscode/
.idea/

# Next.js
npm-debug.log*
